[Desktop Entry]
Encoding=UTF-8
Exec=sh -c "if [ -e ~/.config/nonumlock ]; then numlockx off; else numlockx; fi"
Name=NumLockX (conditional)
Comment=Turn NumLock on in X if ~/.config/nonumlock does not exist
Terminal=false
Type=Application
StartupNotify=false
